.sidebar {
    display: none;
    position: relative;
}

.sidebar.open {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    min-width: 317px;
    background-color: #FFFFFF;
    padding-left: 70px;
    padding-top: 63px;
}

.background {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.4;
    background-color: black;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.nav a {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.nav a:hover {
    color: #58ACFF;
}

.nav a.active {
    text-decoration-line: underline;
    color: #0059B2;
}

.close {
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 24px;
    top: 16px;
}

.close img {

}
